# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Personal Websites\movies-App\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
